@keyframes caret-blink {
    50% {
        opacity: 0.5;
    }
}

.caret {
    display: inline-block;
    position: absolute;
    animation: caret-blink 1s infinite ease;
    background-color: white;
    width: 0.6em;
    height: 1.4em;
    transition: 100ms;
}